:root {
    --snakesize: 35px;
}
.game {
    height: fit-content;
    width: fit-content;
    background-color: linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 30px;
}

.pause {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 5px;
    background: url(/resources/blobpause.svg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    border-radius: 50%;
}

.pause:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    height: 97%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.box {
    height: var(--snakesize);
    width: var(--snakesize);
    background-color: #0e2647;
}

.row {
    display: flex;
    flex-direction: row;
}

.snake {
    background-color: green !important;
}

.snake-head {
    background-color: darkgreen !important;
}

.food {
    background-color: #f2a826;
}


@media screen and (max-width: 600px) {
    .game {
        width: 80%;
        height: 80%;
    }
}